footer {
    margin-top: 2rem;
}

.rounded,
.rounded-sm,
.rounded-xl,
.rounded-lg,
.rounded-xt,
.rounded-t-xl,
.rounded-md,
.rounded-2xl {
    border-radius: 2px !important;
}

[class^="rounded-"] {
    border-radius: 2px !important;
}