openapi: 3.0.3
info:
  title: Rapida Assistant API
  version: 0.1.0
  description: REST endpoints for creating assistants and starting outbound assistant phone calls.
servers:
  - url: https://assistant-01.in.rapida.ai
    description: Rapida managed assistant API
  - url: https://assistant-01.us.rapida.ai
    description: Local assistant API
tags:
  - name: assistants
    x-group: Assistants
    description: Assistant management APIs.
  - name: assistant-deployments
    x-group: Assistant deployments
    description: Assistant deployment management APIs.
  - name: calls
    x-group: Calls
    description: Outbound call APIs.
security:
  - ProjectApiKeyHeader: []
  - ProjectApiKeyQuery: []
  - AuthenticationHeader: []
paths:
  /v1/assistant/create-assistant:
    post:
      tags:
        - assistants
      operationId: createAssistant
      summary: create-assistant
      description: Creates an assistant with one provider configuration and optional tools, knowledge, and tags.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssistantRequest"
            examples:
              model:
                summary: Create a model-backed assistant
                value:
                  name: "Support assistant"
                  description: "Answers customer support questions."
                  visibility: "private"
                  language: "en"
                  tags:
                    - support
                    - production
                  assistantProvider:
                    model:
                      modelProviderName: "openai"
                      template:
                        prompt:
                          - role: "system"
                            content: "You are a helpful support assistant."
                        promptVariables:
                          - name: "customerName"
                            type: "string"
                            defaultValue: "there"
                      assistantModelOptions:
                        - key: "model"
                          value: "gpt-4o-mini"
                  assistantTools:
                    - name: "handoff"
                      description: "Escalate the conversation to a human."
                      executionMethod: "end-of-conversation"
                  assistantKnowledges:
                    - knowledgeId: "2230142097179373568"
                      topK: 5
                      scoreThreshold: 0.5
                      retrievalMethod: "semantic"
      responses:
        "200":
          description: Assistant created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantResponse"
              examples:
                created:
                  summary: Assistant created
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      name: "Support assistant"
                      status: "active"
                      visibility: "private"
                      assistantProvider: "model"
                      assistantProviderModel:
                        modelProviderName: "openai"
                        status: "active"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingName:
                  summary: Missing name
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1001004"
                      errorMessage: "missing name parameter"
                      humanMessage: "Please provide the required name parameter."
                invalidProvider:
                  summary: Invalid assistant provider
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1001006"
                      errorMessage: "invalid assistant_provider parameter"
                      humanMessage: "Please provide exactly one assistant provider."
        "403":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid API key
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1001002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to create assistant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                createFailed:
                  summary: Assistant creation failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1001011"
                      errorMessage: "unable to create assistant"
                      humanMessage: "Unable to create assistant, please try again later."
  /v1/assistant-deployment/create-debugger-deployment:
    post:
      tags:
        - assistant-deployments
      operationId: createAssistantDebuggerDeployment
      summary: create-debugger-deployment
      description: Creates a debugger deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssistantDebuggerDeploymentRequest"
            examples:
              basic:
                summary: Create a debugger deployment
                value:
                  assistantId: "2227823180112723968"
                  greeting: "Hi, how can I help you today?"
                  mistake: "Sorry, I did not understand that."
                  idealTimeout: 30
                  idealTimeoutBackoff: 2
                  idealTimeoutMessage: "Are you still there?"
                  maxSessionDuration: 300
                  inputAudio:
                    audioProvider: "deepgram"
                    audioType: "stt"
                    audioOptions:
                      - key: "model"
                        value: "nova-3"
                  outputAudio:
                    audioProvider: "elevenlabs"
                    audioType: "tts"
                    audioOptions:
                      - key: "voiceId"
                        value: "VOICE_ID_PLACEHOLDER"
      responses:
        "200":
          description: Assistant debugger deployment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantDebuggerDeploymentResponse"
              examples:
                created:
                  summary: Debugger deployment created
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      greeting: "Hi, how can I help you today?"
                      mistake: "Sorry, I did not understand that."
                      idealTimeout: 30
                      idealTimeoutBackoff: 2
                      idealTimeoutMessage: "Are you still there?"
                      maxSessionDuration: 300
                      status: "active"
                      inputAudio:
                        audioProvider: "deepgram"
                        audioType: "stt"
                        status: "active"
                      outputAudio:
                        audioProvider: "elevenlabs"
                        audioType: "tts"
                        status: "active"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1004004"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidAudioProvider:
                  summary: Invalid audio provider
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1004006"
                      errorMessage: "invalid audio provider parameter"
                      humanMessage: "Please provide a valid audioProvider parameter."
                invalidIdealTimeout:
                  summary: Invalid ideal timeout
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1004007"
                      errorMessage: "invalid ideal_timeout parameter"
                      humanMessage: "Please provide idealTimeout between 15 and 120 seconds."
                invalidTimeoutBackoff:
                  summary: Invalid timeout backoff
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1004008"
                      errorMessage: "invalid ideal_timeout_backoff parameter"
                      humanMessage: "Please provide idealTimeoutBackoff between 0 and 5 times."
                invalidSessionDuration:
                  summary: Invalid max session duration
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1004009"
                      errorMessage: "invalid max_session_duration parameter"
                      humanMessage: "Please provide maxSessionDuration between 180 and 600 seconds."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1004002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1004003"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to create assistant debugger deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                createFailed:
                  summary: Debugger deployment creation failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1004005"
                      errorMessage: "unable to create assistant debugger deployment"
                      humanMessage: "Unable to create assistant debugger deployment, please try again later."
  /v1/assistant-deployment/create-phone-deployment:
    post:
      tags:
        - assistant-deployments
      operationId: createAssistantPhoneDeployment
      summary: create-phone-deployment
      description: Creates a phone deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssistantPhoneDeploymentRequest"
            examples:
              basic:
                summary: Create a phone deployment
                value:
                  assistantId: "2227823180112723968"
                  greeting: "Hi, how can I help you today?"
                  mistake: "Sorry, I did not understand that."
                  idealTimeout: 30
                  idealTimeoutBackoff: 2
                  idealTimeoutMessage: "Are you still there?"
                  maxSessionDuration: 300
                  phoneProviderName: "twilio"
                  phoneOptions:
                    - key: "phoneNumber"
                      value: "+14155550100"
                  inputAudio:
                    audioProvider: "deepgram"
                    audioType: "stt"
                    audioOptions:
                      - key: "model"
                        value: "nova-3"
                  outputAudio:
                    audioProvider: "elevenlabs"
                    audioType: "tts"
                    audioOptions:
                      - key: "voiceId"
                        value: "VOICE_ID_PLACEHOLDER"
      responses:
        "200":
          description: Assistant phone deployment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantPhoneDeploymentResponse"
              examples:
                created:
                  summary: Phone deployment created
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      greeting: "Hi, how can I help you today?"
                      mistake: "Sorry, I did not understand that."
                      idealTimeout: 30
                      idealTimeoutBackoff: 2
                      idealTimeoutMessage: "Are you still there?"
                      maxSessionDuration: 300
                      phoneProviderName: "twilio"
                      phoneOptions:
                        - key: "phoneNumber"
                          value: "+14155550100"
                      status: "active"
                      inputAudio:
                        audioProvider: "deepgram"
                        audioType: "stt"
                        status: "active"
                      outputAudio:
                        audioProvider: "elevenlabs"
                        audioType: "tts"
                        status: "active"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1005004"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                missingPhoneProvider:
                  summary: Missing phone provider
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1005010"
                      errorMessage: "missing phone_provider_name parameter"
                      humanMessage: "Please provide the required phoneProviderName parameter."
                invalidAudioProvider:
                  summary: Invalid audio provider
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1005006"
                      errorMessage: "invalid audio provider parameter"
                      humanMessage: "Please provide a valid audioProvider parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1005002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1005003"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to create assistant phone deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                createFailed:
                  summary: Phone deployment creation failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1005005"
                      errorMessage: "unable to create assistant phone deployment"
                      humanMessage: "Unable to create assistant phone deployment, please try again later."
  /v1/assistant-deployment/create-api-deployment:
    post:
      tags:
        - assistant-deployments
      operationId: createAssistantApiDeployment
      summary: create-api-deployment
      description: Creates an API deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssistantApiDeploymentRequest"
            examples:
              basic:
                summary: Create an API deployment
                value:
                  assistantId: "2227823180112723968"
                  greeting: "Hi, how can I help you today?"
                  mistake: "Sorry, I did not understand that."
                  idealTimeout: 30
                  idealTimeoutBackoff: 2
                  idealTimeoutMessage: "Are you still there?"
                  maxSessionDuration: 300
                  inputAudio:
                    audioProvider: "deepgram"
                    audioType: "stt"
                    audioOptions:
                      - key: "model"
                        value: "nova-3"
                  outputAudio:
                    audioProvider: "elevenlabs"
                    audioType: "tts"
                    audioOptions:
                      - key: "voiceId"
                        value: "VOICE_ID_PLACEHOLDER"
      responses:
        "200":
          description: Assistant API deployment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantApiDeploymentResponse"
              examples:
                created:
                  summary: API deployment created
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      greeting: "Hi, how can I help you today?"
                      mistake: "Sorry, I did not understand that."
                      idealTimeout: 30
                      idealTimeoutBackoff: 2
                      idealTimeoutMessage: "Are you still there?"
                      maxSessionDuration: 300
                      status: "active"
                      inputAudio:
                        audioProvider: "deepgram"
                        audioType: "stt"
                        status: "active"
                      outputAudio:
                        audioProvider: "elevenlabs"
                        audioType: "tts"
                        status: "active"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1006004"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidAudioProvider:
                  summary: Invalid audio provider
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1006006"
                      errorMessage: "invalid audio provider parameter"
                      humanMessage: "Please provide a valid audioProvider parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1006002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1006003"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to create assistant API deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                createFailed:
                  summary: API deployment creation failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1006005"
                      errorMessage: "unable to create assistant api deployment"
                      humanMessage: "Unable to create assistant api deployment, please try again later."
  /v1/assistant-deployment/create-webplugin-deployment:
    post:
      tags:
        - assistant-deployments
      operationId: createAssistantWebpluginDeployment
      summary: create-webplugin-deployment
      description: Creates a web plugin deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssistantWebpluginDeploymentRequest"
            examples:
              basic:
                summary: Create a web plugin deployment
                value:
                  assistantId: "2227823180112723968"
                  greeting: "Hi, how can I help you today?"
                  mistake: "Sorry, I did not understand that."
                  idealTimeout: 30
                  idealTimeoutBackoff: 2
                  idealTimeoutMessage: "Are you still there?"
                  maxSessionDuration: 300
                  suggestion:
                    - "Book a demo"
                    - "Talk to support"
                  inputAudio:
                    audioProvider: "deepgram"
                    audioType: "stt"
                    audioOptions:
                      - key: "model"
                        value: "nova-3"
                  outputAudio:
                    audioProvider: "elevenlabs"
                    audioType: "tts"
                    audioOptions:
                      - key: "voiceId"
                        value: "VOICE_ID_PLACEHOLDER"
      responses:
        "200":
          description: Assistant web plugin deployment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantWebpluginDeploymentResponse"
              examples:
                created:
                  summary: Web plugin deployment created
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      greeting: "Hi, how can I help you today?"
                      mistake: "Sorry, I did not understand that."
                      idealTimeout: 30
                      idealTimeoutBackoff: 2
                      idealTimeoutMessage: "Are you still there?"
                      maxSessionDuration: 300
                      suggestion:
                        - "Book a demo"
                        - "Talk to support"
                      status: "active"
                      inputAudio:
                        audioProvider: "deepgram"
                        audioType: "stt"
                        status: "active"
                      outputAudio:
                        audioProvider: "elevenlabs"
                        audioType: "tts"
                        status: "active"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1007004"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidAudioProvider:
                  summary: Invalid audio provider
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1007006"
                      errorMessage: "invalid audio provider parameter"
                      humanMessage: "Please provide a valid audioProvider parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1007002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1007003"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to create assistant web plugin deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                createFailed:
                  summary: Webplugin deployment creation failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1007005"
                      errorMessage: "unable to create assistant web plugin deployment"
                      humanMessage: "Unable to create assistant web plugin deployment, please try again later."
  /v1/assistant-deployment/create-whatsapp-deployment:
    post:
      tags:
        - assistant-deployments
      operationId: createAssistantWhatsappDeployment
      summary: create-whatsapp-deployment
      description: Creates a WhatsApp deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssistantWhatsappDeploymentRequest"
            examples:
              basic:
                summary: Create a WhatsApp deployment
                value:
                  assistantId: "2227823180112723968"
                  greeting: "Hi, how can I help you today?"
                  mistake: "Sorry, I did not understand that."
                  idealTimeout: 30
                  idealTimeoutBackoff: 2
                  idealTimeoutMessage: "Are you still there?"
                  maxSessionDuration: 300
                  whatsappProviderName: "gupshup"
                  whatsappOptions:
                    - key: "template"
                      value: "welcome"
      responses:
        "200":
          description: Assistant WhatsApp deployment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantWhatsappDeploymentResponse"
              examples:
                created:
                  summary: WhatsApp deployment created
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      greeting: "Hi, how can I help you today?"
                      mistake: "Sorry, I did not understand that."
                      idealTimeout: 30
                      idealTimeoutBackoff: 2
                      idealTimeoutMessage: "Are you still there?"
                      maxSessionDuration: 300
                      whatsappProviderName: "gupshup"
                      whatsappOptions:
                        - key: "template"
                          value: "welcome"
                      status: "active"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1008004"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                missingWhatsappProvider:
                  summary: Missing WhatsApp provider
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1008009"
                      errorMessage: "missing whatsapp_provider_name parameter"
                      humanMessage: "Please provide the required whatsappProviderName parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1008002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1008003"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to create assistant WhatsApp deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                createFailed:
                  summary: WhatsApp deployment creation failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1008005"
                      errorMessage: "unable to create assistant whatsapp deployment"
                      humanMessage: "Unable to create assistant whatsapp deployment, please try again later."

  /v1/assistant-deployment/get-api-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAssistantApiDeployment
      summary: get-api-deployment
      description: Gets the latest API deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployment.
      responses:
        "200":
          description: Assistant API deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantApiDeploymentResponse"
              examples:
                found:
                  summary: Deployment found
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      status: "active"
                notFound:
                  summary: No deployment exists
                  value:
                    code: 200
                    success: true
                    data: null
        "400":
          description: Invalid assistantId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1011003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1011001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1011002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant API deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1011004"
                      errorMessage: "unable to get assistant api deployment"
                      humanMessage: "Unable to get assistant api deployment, please try again later."
  /v1/assistant-deployment/get-debugger-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAssistantDebuggerDeployment
      summary: get-debugger-deployment
      description: Gets the latest debugger deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployment.
      responses:
        "200":
          description: Assistant debugger deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantDebuggerDeploymentResponse"
              examples:
                found:
                  summary: Deployment found
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      status: "active"
                notFound:
                  summary: No deployment exists
                  value:
                    code: 200
                    success: true
                    data: null
        "400":
          description: Invalid assistantId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1009003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1009001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1009002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant debugger deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1009004"
                      errorMessage: "unable to get assistant debugger deployment"
                      humanMessage: "Unable to get assistant debugger deployment, please try again later."
  /v1/assistant-deployment/get-phone-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAssistantPhoneDeployment
      summary: get-phone-deployment
      description: Gets the latest phone deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployment.
      responses:
        "200":
          description: Assistant phone deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantPhoneDeploymentResponse"
              examples:
                found:
                  summary: Deployment found
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      status: "active"
                notFound:
                  summary: No deployment exists
                  value:
                    code: 200
                    success: true
                    data: null
        "400":
          description: Invalid assistantId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1010003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1010001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1010002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant phone deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1010004"
                      errorMessage: "unable to get assistant phone deployment"
                      humanMessage: "Unable to get assistant phone deployment, please try again later."
  /v1/assistant-deployment/get-webplugin-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAssistantWebpluginDeployment
      summary: get-webplugin-deployment
      description: Gets the latest web plugin deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployment.
      responses:
        "200":
          description: Assistant web plugin deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantWebpluginDeploymentResponse"
              examples:
                found:
                  summary: Deployment found
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      status: "active"
                notFound:
                  summary: No deployment exists
                  value:
                    code: 200
                    success: true
                    data: null
        "400":
          description: Invalid assistantId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1012003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1012001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1012002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant web plugin deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1012004"
                      errorMessage: "unable to get assistant webplugin deployment"
                      humanMessage: "Unable to get assistant webplugin deployment, please try again later."
  /v1/assistant-deployment/get-whatsapp-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAssistantWhatsappDeployment
      summary: get-whatsapp-deployment
      description: Gets the latest WhatsApp deployment for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployment.
      responses:
        "200":
          description: Assistant WhatsApp deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssistantWhatsappDeploymentResponse"
              examples:
                found:
                  summary: Deployment found
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
                      assistantId: "2227823180112723968"
                      status: "active"
                notFound:
                  summary: No deployment exists
                  value:
                    code: 200
                    success: true
                    data: null
        "400":
          description: Invalid assistantId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1013003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1013001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1013002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant WhatsApp deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1013004"
                      errorMessage: "unable to get assistant whatsapp deployment"
                      humanMessage: "Unable to get assistant whatsapp deployment, please try again later."
  /v1/assistant-deployment/get-all-api-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAllAssistantApiDeployment
      summary: get-all-api-deployment
      description: Gets API deployments for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployments.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 1
          description: Page number to retrieve.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 20
          description: Number of deployments to return per page.
        - name: criterias
          in: query
          required: false
          description: JSON encoded array of Criteria objects.
          schema:
            type: string
          example: '[{"key":"status","value":"active","logic":"must"}]'
      responses:
        "200":
          description: Assistant API deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllAssistantApiDeploymentResponse"
              examples:
                found:
                  summary: Deployments found
                  value:
                    code: 200
                    success: true
                    data:
                      - id: "2230142097179373568"
                        assistantId: "2227823180112723968"
                        status: "active"
                    paginated:
                      currentPage: 1
                      totalItem: 1
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1016003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidRequest:
                  summary: Invalid pagination or criteria
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1016004"
                      errorMessage: "invalid request"
                      humanMessage: "Invalid request."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1016001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1016002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant API deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1016005"
                      errorMessage: "unable to get assistant api deployments"
                      humanMessage: "Unable to get assistant api deployments, please try again later."
  /v1/assistant-deployment/get-all-debugger-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAllAssistantDebuggerDeployment
      summary: get-all-debugger-deployment
      description: Gets debugger deployments for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployments.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 1
          description: Page number to retrieve.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 20
          description: Number of deployments to return per page.
        - name: criterias
          in: query
          required: false
          description: JSON encoded array of Criteria objects.
          schema:
            type: string
          example: '[{"key":"status","value":"active","logic":"must"}]'
      responses:
        "200":
          description: Assistant debugger deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllAssistantDebuggerDeploymentResponse"
              examples:
                found:
                  summary: Deployments found
                  value:
                    code: 200
                    success: true
                    data:
                      - id: "2230142097179373568"
                        assistantId: "2227823180112723968"
                        status: "active"
                    paginated:
                      currentPage: 1
                      totalItem: 1
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1014003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidRequest:
                  summary: Invalid pagination or criteria
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1014004"
                      errorMessage: "invalid request"
                      humanMessage: "Invalid request."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1014001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1014002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant debugger deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1014005"
                      errorMessage: "unable to get assistant debugger deployments"
                      humanMessage: "Unable to get assistant debugger deployments, please try again later."
  /v1/assistant-deployment/get-all-phone-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAllAssistantPhoneDeployment
      summary: get-all-phone-deployment
      description: Gets phone deployments for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployments.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 1
          description: Page number to retrieve.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 20
          description: Number of deployments to return per page.
        - name: criterias
          in: query
          required: false
          description: JSON encoded array of Criteria objects.
          schema:
            type: string
          example: '[{"key":"status","value":"active","logic":"must"}]'
      responses:
        "200":
          description: Assistant phone deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllAssistantPhoneDeploymentResponse"
              examples:
                found:
                  summary: Deployments found
                  value:
                    code: 200
                    success: true
                    data:
                      - id: "2230142097179373568"
                        assistantId: "2227823180112723968"
                        status: "active"
                    paginated:
                      currentPage: 1
                      totalItem: 1
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1015003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidRequest:
                  summary: Invalid pagination or criteria
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1015004"
                      errorMessage: "invalid request"
                      humanMessage: "Invalid request."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1015001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1015002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant phone deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1015005"
                      errorMessage: "unable to get assistant phone deployments"
                      humanMessage: "Unable to get assistant phone deployments, please try again later."
  /v1/assistant-deployment/get-all-webplugin-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAllAssistantWebpluginDeployment
      summary: get-all-webplugin-deployment
      description: Gets web plugin deployments for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployments.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 1
          description: Page number to retrieve.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 20
          description: Number of deployments to return per page.
        - name: criterias
          in: query
          required: false
          description: JSON encoded array of Criteria objects.
          schema:
            type: string
          example: '[{"key":"status","value":"active","logic":"must"}]'
      responses:
        "200":
          description: Assistant web plugin deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllAssistantWebpluginDeploymentResponse"
              examples:
                found:
                  summary: Deployments found
                  value:
                    code: 200
                    success: true
                    data:
                      - id: "2230142097179373568"
                        assistantId: "2227823180112723968"
                        status: "active"
                    paginated:
                      currentPage: 1
                      totalItem: 1
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1017003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidRequest:
                  summary: Invalid pagination or criteria
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1017004"
                      errorMessage: "invalid request"
                      humanMessage: "Invalid request."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1017001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1017002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant web plugin deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1017005"
                      errorMessage: "unable to get assistant webplugin deployments"
                      humanMessage: "Unable to get assistant webplugin deployments, please try again later."
  /v1/assistant-deployment/get-all-whatsapp-deployment/{assistantId}:
    get:
      tags:
        - assistant-deployments
      operationId: getAllAssistantWhatsappDeployment
      summary: get-all-whatsapp-deployment
      description: Gets WhatsApp deployments for an assistant. This endpoint requires user authentication with organization and project scope.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
        - name: assistantId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Uint64String"
          description: Assistant ID for the deployments.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 1
          description: Page number to retrieve.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: uint32
            default: 20
          description: Number of deployments to return per page.
        - name: criterias
          in: query
          required: false
          description: JSON encoded array of Criteria objects.
          schema:
            type: string
          example: '[{"key":"status","value":"active","logic":"must"}]'
      responses:
        "200":
          description: Assistant WhatsApp deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllAssistantWhatsappDeploymentResponse"
              examples:
                found:
                  summary: Deployments found
                  value:
                    code: 200
                    success: true
                    data:
                      - id: "2230142097179373568"
                        assistantId: "2227823180112723968"
                        status: "active"
                    paginated:
                      currentPage: 1
                      totalItem: 1
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidAssistantId:
                  summary: Invalid assistant ID
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1018003"
                      errorMessage: "invalid assistant_id parameter"
                      humanMessage: "Please provide a valid assistantId parameter."
                invalidRequest:
                  summary: Invalid pagination or criteria
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1018004"
                      errorMessage: "invalid request"
                      humanMessage: "Invalid request."
        "401":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid user token
                  value:
                    code: 401
                    success: false
                    error:
                      errorCode: "1018001"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "403":
          description: Missing authentication scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingScope:
                  summary: Missing organization or project scope
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1018002"
                      errorMessage: "missing authentication scope"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to get assistant WhatsApp deployments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                getFailed:
                  summary: Deployment lookup failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1018005"
                      errorMessage: "unable to get assistant whatsapp deployments"
                      humanMessage: "Unable to get assistant whatsapp deployments, please try again later."

  /v1/talk/create-phone-call:
    post:
      tags:
        - calls
      operationId: createPhoneCall
      summary: create-phone-call
      description: Starts one outbound phone call using the configured assistant and returns the created conversation identifier.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePhoneCallRequest"
            examples:
              basic:
                summary: Start a phone call
                value:
                  assistant:
                    assistantId: "2227823180112723968"
                    version: latest
                  toNumber: "+14155550123"
                  fromNumber: "+14155550100"
                  metadata:
                    customerId: "cust_123"
                  args:
                    customerName: "Jane"
                  options:
                    priority: "standard"
      responses:
        "200":
          description: Outbound phone call request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePhoneCallResponse"
              examples:
                accepted:
                  summary: Call accepted
                  value:
                    code: 200
                    success: true
                    data:
                      id: "2230142097179373568"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingToNumber:
                  summary: Missing destination number
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1002003"
                      errorMessage: "missing toNumber parameter"
                      humanMessage: "Please provide the required toNumber parameter."
                invalidAssistant:
                  summary: Invalid assistant
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1002004"
                      errorMessage: "invalid assistant parameter"
                      humanMessage: "Please provide a valid assistant."
        "403":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid API key
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1002002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to initiate outbound call.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                callFailed:
                  summary: Outbound call failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1002008"
                      errorMessage: "unable to initiate outbound call"
                      humanMessage: "Unable to initiate outbound call, please try again later."
  /v1/talk/create-bulk-phone-call:
    post:
      tags:
        - calls
      operationId: createBulkPhoneCall
      summary: create-bulk-phone-call
      description: Starts multiple outbound phone calls using configured assistants and returns the created conversation identifiers.
      parameters:
        - $ref: "#/components/parameters/ClientSourceHeader"
        - $ref: "#/components/parameters/AuthIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBulkPhoneCallRequest"
            examples:
              basic:
                summary: Start multiple phone calls
                value:
                  phoneCalls:
                    - assistant:
                        assistantId: "2227823180112723968"
                        version: latest
                      toNumber: "+14155550123"
                      fromNumber: "+14155550100"
                      metadata:
                        customerId: "cust_123"
                    - assistant:
                        assistantId: "2227823180112723968"
                        version: latest
                      toNumber: "+14155550124"
                      metadata:
                        customerId: "cust_124"
      responses:
        "200":
          description: Bulk outbound phone call request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBulkPhoneCallResponse"
              examples:
                accepted:
                  summary: Calls accepted
                  value:
                    code: 200
                    success: true
                    data:
                      - id: "2230142097179373568"
                      - id: "2230142097179373569"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingPhoneCalls:
                  summary: Missing phone calls
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1003003"
                      errorMessage: "missing phone_calls parameter"
                      humanMessage: "Please provide at least one phone call."
                missingToNumber:
                  summary: Missing destination number
                  value:
                    code: 400
                    success: false
                    error:
                      errorCode: "1003004"
                      errorMessage: "missing toNumber parameter"
                      humanMessage: "Please provide the required toNumber parameter."
        "403":
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                unauthenticated:
                  summary: Missing or invalid API key
                  value:
                    code: 403
                    success: false
                    error:
                      errorCode: "1003002"
                      errorMessage: "unauthenticated request"
                      humanMessage: "Unauthenticated request, please try again with valid authentication."
        "500":
          description: Failed to initiate outbound calls.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                callFailed:
                  summary: Outbound calls failed
                  value:
                    code: 500
                    success: false
                    error:
                      errorCode: "1003009"
                      errorMessage: "unable to initiate outbound call"
                      humanMessage: "Unable to initiate outbound call, please try again later."
components:
  securitySchemes:
    ProjectApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: API key from Rapida credentials.
    ProjectApiKeyQuery:
      type: apiKey
      in: query
      name: x-api-key
      description: API key from Rapida credentials.
    AuthenticationHeader:
      type: apiKey
      in: header
      name: Authentication
      description: API key from Rapida credentials.
  parameters:
    ClientSourceHeader:
      name: x-client-source
      in: header
      required: false
      schema:
        type: string
        default: sdk
        enum:
          - sdk
      description: Client source identifier. SDK clients send this automatically.
    AuthIdHeader:
      name: x-auth-id
      in: header
      required: false
      schema:
        type: string
      description: Optional user identifier to propagate with the request.
  schemas:
    Uint64String:
      type: string
      pattern: "^[0-9]+$"
      example: "2227823180112723968"
    PlatformErrorCode:
      type: string
      pattern: "^[0-9]+$"
      description: |
        Stable platform error code.

        Create Assistant:
        - `1001001`: invalid request - Invalid request.
        - `1001002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1001003`: missing authentication scope - Unauthenticated request, please try again with valid authentication.
        - `1001004`: missing name parameter - Please provide the required name parameter.
        - `1001005`: missing assistant_provider parameter - Please provide the required assistantProvider parameter.
        - `1001006`: invalid assistant_provider parameter - Please provide exactly one assistant provider.
        - `1001007`: missing model_provider_name parameter - Please provide the required modelProviderName parameter.
        - `1001008`: missing agent_kit_url parameter - Please provide the required agentKitUrl parameter.
        - `1001009`: missing websocket_url parameter - Please provide the required websocketUrl parameter.
        - `1001010`: invalid source_identifier parameter - Please provide a valid sourceIdentifier parameter.
        - `1001011`: unable to create assistant - Unable to create assistant, please try again later.
        - `1001012`: invalid assistant provider template - Invalid assistant provider template.
        - `1001013`: unable to create assistant provider model - Unable to create assistant provider model, please try again later.
        - `1001014`: unable to attach assistant provider model - Unable to attach assistant provider model, please try again later.
        - `1001015`: unable to create assistant provider agentkit - Unable to create assistant provider agentkit, please try again later.
        - `1001016`: unable to attach assistant provider agentkit - Unable to attach assistant provider agentkit, please try again later.
        - `1001017`: unable to create assistant provider websocket - Unable to create assistant provider websocket, please try again later.
        - `1001018`: unable to attach assistant provider websocket - Unable to attach assistant provider websocket, please try again later.
        - `1001019`: invalid knowledge_id parameter - Please provide a valid knowledgeId parameter.
        - `1001020`: invalid reranker_model_provider_id parameter - Please provide a valid rerankerModelProviderId parameter.
        - `1001021`: unable to create assistant tools - Unable to create assistant tools, please try again later.
        - `1001022`: unable to create assistant knowledge - Unable to create assistant knowledge, please try again later.
        - `1001023`: unable to create assistant tags - Unable to create assistant tags, please try again.

        Create Phone Call:
        - `1002001`: invalid request - Invalid request.
        - `1002002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1002003`: missing toNumber parameter - Please provide the required toNumber parameter.
        - `1002004`: invalid assistant parameter - Please provide a valid assistant.
        - `1002005`: invalid metadata parameter - Please provide valid metadata.
        - `1002006`: invalid arguments parameter - Please provide valid arguments.
        - `1002007`: invalid options parameter - Please provide valid options.
        - `1002008`: unable to initiate outbound call - Unable to initiate outbound call, please try again later.

        Create Bulk Phone Call:
        - `1003001`: invalid request - Invalid request.
        - `1003002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1003003`: missing phone_calls parameter - Please provide at least one phone call.
        - `1003004`: missing toNumber parameter - Please provide the required toNumber parameter.
        - `1003005`: invalid assistant parameter - Please provide a valid assistant.
        - `1003006`: invalid metadata parameter - Please provide valid metadata.
        - `1003007`: invalid arguments parameter - Please provide valid arguments.
        - `1003008`: invalid options parameter - Please provide valid options.
        - `1003009`: unable to initiate outbound call - Unable to initiate outbound call, please try again later.

        Create Assistant Debugger Deployment:
        - `1004001`: invalid request - Invalid request.
        - `1004002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1004003`: missing authentication scope - Unauthenticated request, please try again with valid authentication.
        - `1004004`: invalid assistant_id parameter - Please provide a valid assistantId parameter.
        - `1004005`: unable to create assistant debugger deployment - Unable to create assistant debugger deployment, please try again later.
        - `1004006`: invalid audio provider parameter - Please provide a valid audioProvider parameter.
        - `1004007`: invalid ideal_timeout parameter - Please provide idealTimeout between 15 and 120 seconds.
        - `1004008`: invalid ideal_timeout_backoff parameter - Please provide idealTimeoutBackoff between 0 and 5 times.
        - `1004009`: invalid max_session_duration parameter - Please provide maxSessionDuration between 180 and 600 seconds.

        Create Assistant Phone Deployment:
        - `1005001`: invalid request - Invalid request.
        - `1005002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1005003`: missing authentication scope - Unauthenticated request, please try again with valid authentication.
        - `1005004`: invalid assistant_id parameter - Please provide a valid assistantId parameter.
        - `1005005`: unable to create assistant phone deployment - Unable to create assistant phone deployment, please try again later.
        - `1005006`: invalid audio provider parameter - Please provide a valid audioProvider parameter.
        - `1005007`: invalid ideal_timeout parameter - Please provide idealTimeout between 15 and 120 seconds.
        - `1005008`: invalid ideal_timeout_backoff parameter - Please provide idealTimeoutBackoff between 0 and 5 times.
        - `1005009`: invalid max_session_duration parameter - Please provide maxSessionDuration between 180 and 600 seconds.
        - `1005010`: missing phone_provider_name parameter - Please provide the required phoneProviderName parameter.

        Create Assistant API Deployment:
        - `1006001`: invalid request - Invalid request.
        - `1006002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1006003`: missing authentication scope - Unauthenticated request, please try again with valid authentication.
        - `1006004`: invalid assistant_id parameter - Please provide a valid assistantId parameter.
        - `1006005`: unable to create assistant api deployment - Unable to create assistant api deployment, please try again later.
        - `1006006`: invalid audio provider parameter - Please provide a valid audioProvider parameter.
        - `1006007`: invalid ideal_timeout parameter - Please provide idealTimeout between 15 and 120 seconds.
        - `1006008`: invalid ideal_timeout_backoff parameter - Please provide idealTimeoutBackoff between 0 and 5 times.
        - `1006009`: invalid max_session_duration parameter - Please provide maxSessionDuration between 180 and 600 seconds.

        Create Assistant Webplugin Deployment:
        - `1007001`: invalid request - Invalid request.
        - `1007002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1007003`: missing authentication scope - Unauthenticated request, please try again with valid authentication.
        - `1007004`: invalid assistant_id parameter - Please provide a valid assistantId parameter.
        - `1007005`: unable to create assistant web plugin deployment - Unable to create assistant web plugin deployment, please try again later.
        - `1007006`: invalid audio provider parameter - Please provide a valid audioProvider parameter.
        - `1007007`: invalid ideal_timeout parameter - Please provide idealTimeout between 15 and 120 seconds.
        - `1007008`: invalid ideal_timeout_backoff parameter - Please provide idealTimeoutBackoff between 0 and 5 times.
        - `1007009`: invalid max_session_duration parameter - Please provide maxSessionDuration between 180 and 600 seconds.

        Create Assistant WhatsApp Deployment:
        - `1008001`: invalid request - Invalid request.
        - `1008002`: unauthenticated request - Unauthenticated request, please try again with valid authentication.
        - `1008003`: missing authentication scope - Unauthenticated request, please try again with valid authentication.
[...]
